/* Body, root and default*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: var(--charcoal-grey);
}
:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --dark-slate-grey-lighter: hsl(234, 59%, 41%);
  --white: hsl(0, 0%, 100%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --tomato: hsl(4, 100%, 67%);
}
*,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font Size */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

/* Main */
main {
  display: grid;
  /* height: 100vh; */
  min-height: 100vh;
  grid-template-rows: auto 1fr;

  max-width: 425px;
  background-color: var(--white);
}
/* Decorative Image */
.decorative-image-1 {
  display: inline;
  height: clamp(250px, 40vh, 250px);
  width: 100%;
  object-fit: cover;
  object-position: 0 100%;
  bottom: 0;
}

.decorative-image-2 {
  display: none;
}
/* Article */
.article {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-features-feature {
  position: relative;
  padding-left: 30px;
}
.main-features-feature::after {
  content: url("../images/icon-list.svg");
  position: absolute;
  top: 0;

  left: 0;
}

/* Form */
.main-form > * {
  margin-bottom: 10px;
}
.label-container {
  display: flex;
  justify-content: space-between;
}

mark.email-error {
  display: none;
  background-color: transparent;
  color: red;
}
/* Success IMAGE and article*/
.success-image {
  display: inline-block;
  height: 10vh;
  width: 10vh;
}
.success-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.success-article .main-title {
  text-align: center;
}
/* Utility Classes */
.text-left {
  text-align: left;
}
.rectangle {
  padding: 14px;

  font-size: 1.5rem;
  border-radius: 5px;
  width: 98%;
}
.dark-background-light-text {
  background-color: var(--dark-slate-grey);
  color: var(--white);
}

.hover-active-btn:hover,
.hover-active-btn:focus {
  background-color: var(--dark-slate-grey-lighter);
}
.hover-active-btn:active {
  background-color: var(--tomato);
}
/* Media Queries */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  main {
    max-width: min(100vw, 700px);
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    align-items: center;
    grid-template-rows: 1fr;
    max-height: 800px;
    min-height: 0;
  }
  .article {
    padding-left: 0;
  }
  .decorative-image-1 {
    display: none;
  }
  .decorative-image-2 {
    display: inline;
    width: 100%;
    order: 1;
  }
}
@media screen and (min-width: 768px) and (min-height: 560px) {
  main {
    border-radius: 20px;
  }
}
